.cryptodonate-btn {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #DDD;
    color: #000;
    cursor: pointer;
    font-family: Arial;
}

.cryptodonate-btn:hover {
    background: #EEE;
}

.cryptodonate-btn.large {
    padding: 13px 15px;
    font-size: 1.5rem;
}

.cryptodonate-btn img, .cryptodonate-btn span {
    display: inline-block;
    vertical-align: middle;
}

.cryptodonate-btn img {
    height: 16px;
    width: 16px;
}

.cryptodonate-btn.large img {
    height: 32px;
    width: 32px;
}

.cryptodonate-btn span {
    margin-left: 5px;
}

#cryptodonate-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    /*background: #fff;*/
}

#cryptodonate-dialog {
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    padding: 20px 20px 10px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    z-index: 9999999;
    box-sizing: border-box;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    /*font-family: Arial;*/
}

#cryptodonate-dialog * {
    box-sizing: border-box;
}

#cryptodonate-addressHolder {
    position: relative;
    border-bottom: 3px solid #790cfc;
    padding-bottom: 1em;
}

#cryptodonate-coin {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 4px;
    left: 5px;
}

#cryptodonate-address {
    height: 32px;
    width: 100%;
    padding: 5px 30px 5px 30px;
    /*color: #000;*/
    font: 13.3333px Arial;
}

#cryptodonate-wallet {
    position: absolute;
    display: block;
    top: 4px;
    right: 5px;
    height: 24px;
    width: 24px
}

#cryptodonate-wallet img {
    height: 100%;
    width: 100%;
}

#cryptodonate-action {
    font-size: 2rem;
    margin-bottom: .5em;
    border-bottom: 3px solid #790cfc;
    padding-bottom: .25em;
}

#cryptodonate-qrHolder {
    position: relative;
    background: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 1em;
}

#cryptodonate-qr {
    height: 200px;
    width: 200px;
}


/**
 * Don't be evil. Please let this credit be seen
 */

#cryptodonate-credit {
    display: block;
    margin-top: 30px;
    color: #000;
    text-decoration: none;
}

#cryptodonate-close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 2em;
    cursor: pointer;
}

@media (max-width: 410px) {
    #cryptodonate-dialog {
        width: 100%;
        padding: 20px 10px 30px;
    }
}

@media (max-width: 250px) {
    #cryptodonate-qr {
        width: 100%;
        height: auto;
    }
}

.cryptodonate-btn.dark {
    background: #000;
    color: #fff;
}

#cryptodonate-dialog.dark {
    background: #000;
    color: #fff;
}

#cryptodonate-dialog.dark #cryptodonate-credit {
    color: #fff;
}

.cryptodonate-btn.green {
    background: #4CAF50;
    color: #fff;
}

#cryptodonate-dialog.green {
    background: #4CAF50;
    color: #fff;
}

#cryptodonate-dialog.green #cryptodonate-credit {
    color: #fff;
}

#cryptodonate-dialog.green #cryptodonate-action, #cryptodonate-dialog.green #cryptodonate-addressHolder {
    border-bottom-color: #fff;
}

.cryptodonate-btn.pink {
    background: #e91e63;
    color: #fff;
}

#cryptodonate-dialog.pink {
    background: #e91e63;
    color: #fff;
}

#cryptodonate-dialog.pink #cryptodonate-credit {
    color: #fff;
}

#cryptodonate-dialog.pink #cryptodonate-action, #cryptodonate-dialog.pink #cryptodonate-addressHolder {
    border-bottom-color: #fff;
}






/** ---- **/




/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}